################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ContractExamDB/ContractExamDB/ContractExamDB.jfm
