################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ContractExamDB/ContractExamDB/ContractExamDB.jfm
/ContractExamService/ContractExamService/bin/Debug/example.xml
/ContractExamDB/ContractExamDB/bin/Debug
/ContractExamDB/ContractExamDB/ContractExamDB.dbmdl
